<div class="row">
  <div class="col s12 m6 l6">
  <div class="col 6">
  <img src="assets/imagenes/manizales.jpg">
   <br>
   <br>
   <br>
   <br>

    <div id="centro"  style="text-align: center">
      <form>
        <div class="row">
        <h5><p style="color:green; text-align:center">Registre datos Estudiante</p></h5>
        <br>    
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input id="nombre" name="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
         </div>
         <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="apellido" name="apellido" type="text" class="validate">
          <label for="apellido">Apellido</label>
         </div>
         <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input id="documento" name="documento" type="text" class="validate">
          <label for="documento">Documento de Identidad</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="edad" name="edad" type="text" class="validate">
          <label for="edad">Edad</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="sexo" name="sexo" type="text" class="validate">
          <label for="sexo">Sexo</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="fechanacicmiento" name="fechanacicmiento" type="date" class="validate">
          <label for="fechanacicmiento"></label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="rh" name="rh" type="text" class="validate">
          <label for="rh">RH</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="telefono" name="telefono" type="text" class="validate">
          <label for="telefono">Telefono</label>
        </div>
      </div>
 
       <div class="row">
         <h5><p style="color:green; text-align:center">Registre datos Acudiente</p></h5>
         <br>
         <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input id="nombreacudiente" name="nombreacudiente" type="text" class="validate">
          <label for="nombreacudiente">Nombre Acudiente</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="apellidoacudiente" name="apellidoacudiente" type="text" class="validate">
          <label for="apellido">Apellido Acudiente</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input id="parentesco" name="parentesco" type="text" class="validate">
          <label for="parentesco">Parentesco</label>
        </div>        
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="correo" name="correo" type="email" class="validate">
          <label for="correo">Email</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input id="contresena" name="contresena" type="password" class="validate">
          <label for="contrasena">contrasena</label>
        </div>
        <br>
        <br>
        <div class="input-field col s4">                       
        <button type="submit" name="enviar">Enviar datos</button>
        </div>
       </div>
      </form>     
    </div>
   </div>
  </div> 

  <div class="col s12 m6 l6">
   
   <p>Hola Ingresa tu Usuario y Contraseña</p>

    <form>
      <div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="correo" type="email" class="validate">
          <label for="correo">Email</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="contresena" type="password" class="validate">
          <label for="contrasena">contrasena</label>
        </div>
        <div class="input-field col s4">                       
        <button type="submit" 
        name="enviar"
        [disabled]="!formCurso.valid"
        (click)="datosMatricula()">
        GuardarIngresar
        </button>
        </div>
      </div>
     </form>

  </div>  

</div>


