<div class="row">
  <div class="col 6">
   <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      </ul>
   </div>


   <br>
   <br>
   <br>
   <br>

    <div id="centro"  style="text-align: center">
      <form>

        <div class="row">
            
        
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input name="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
        </div>

        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="apellido" type="text" class="validate">
          <label for="apellido">Apellido</label>
        </div>

         <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input name="documento" type="text" class="validate">
          <label for="documento">Documento de Identidad</label>
        </div>

        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="correo" type="email" class="validate">
          <label for="correo">Email</label>
        </div>

        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="contresena" type="password" class="validate">
          <label for="contrasena">contrasena</label>
        </div>

        <br>
        <br>

        <div class="input-field col s4">                       
        <button type="submit" name="enviar">Enviar datos</button>
        </div>
        
        </div>

      </form>     

   </div>

  </div>

</div>


