<div class="row">
  <div class="col s12 m6 l6">
  <div class="col 6">
   <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://www.google.com.co/imgres?imgurl=http%3A%2F%2Fcdn.precioyviajes.com%2FDestinations%2F177%2F177%2Fmanizales-1577729336-L.jpg&imgrefurl=http%3A%2F%2Fwww.pricetravel.com.mx%2Fmanizales&docid=HKxtgysfsz3oDM&tbnid=rRdWhjf2uXd0EM%3A&vet=1&w=800&h=600&bih=960&biw=1920&ved=0ahUKEwj0g-eRvtvQAhVGOiYKHSegDwMQMwgfKAUwBQ&iact=mrc&uact=8"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      </ul>
   </div>

   <br>
   <br>
   <br>
   <br>

    <div id="centro"  style="text-align: center">
      <form>
        <div class="row">
        <h5><p style="color:green; text-align:center">Registre datos Estudiante</p></h5>
        <br>    
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input name="nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
         </div>
         <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="apellido" type="text" class="validate">
          <label for="apellido">Apellido</label>
         </div>
         <div class="input-field col s4">
          <i class="material-icons prefix">contact_phone</i>
          <input name="documento" type="text" class="validate">
          <label for="documento">Documento de Identidad</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="edad" type="text" class="validate">
          <label for="apellido">Edad</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="sexo" type="text" class="validate">
          <label for="apellido">Sexo</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="fechanacicmiento" type="date" class="validate">
          <label for="apellido"></label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="rh" type="text" class="validate">
          <label for="apellido">RH</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="telefono" type="text" class="validate">
          <label for="apellido">Telefono</label>
        </div>
      </div>
 
       <div class="row">
         <h5><p style="color:green; text-align:center">Registre datos Acudiente</p></h5>
         <br>
         <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input name="nombreacudiente" type="text" class="validate">
          <label for="nombre">Nombre Acudiente</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="apellidoacudiente" type="text" class="validate">
          <label for="apellido">Apellido Acudiente</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">perm_identity</i>
          <input name="parentesco" type="text" class="validate">
          <label for="nombre">Parentesco</label>
        </div>        
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="correo" type="email" class="validate">
          <label for="correo">Email</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">label</i>
          <input name="contresena" type="password" class="validate">
          <label for="contrasena">contrasena</label>
        </div>
        <br>
        <br>
        <div class="input-field col s4">                       
        <button type="submit" name="enviar">Enviar datos</button>
        </div>
       </div>
      </form>     
    </div>
   </div>
  </div> 

  <div class="col s12 m6 l6">
   
   <p>Hola Ingresa tu Usuario y Contraseña</p>

    <form>
      <div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="correo" type="email" class="validate">
          <label for="correo">Email</label>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix"></i>
          <input name="contresena" type="password" class="validate">
          <label for="contrasena">contrasena</label>
        </div>
        <div class="input-field col s4">                       
        <button type="submit" name="ingresar">Ingresar</button>
        </div>
      </div>
     </form>

  </div>  

</div>


